$borderColor: #DDD;

$primary:    #56256e;
$secondary:  #32db64;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;
$favorite:   #9079b6;
$myapp:      #47266e;
$facebook:   #3b5998;
$wechat:     #7bb32e;

input.text-input {
  text-align: left;
}

textarea.text-input {
  text-align: left;
}

.menu-item {
  color: $primary;
  .item-icon {
    font-size: 32px;
  }
}

.list-full-border {
  .item {
    border-bottom: 1px solid $borderColor;
    .item-inner {
      border: none;
    }
  }
}

.rlt {
  position: relative;
}

.cf {
  clear: both;
}

.narrow-bar {
  min-height: 40px;
}

.bar-title {
  float: center;
}

.options {
  margin: 0;
}

.option-name {
  float: left;
}

.option-icon {
  float: right;
}

.error-hint {
  font-size: 11px;
  color: #f53d3d;
}

.large-button {
  width: 50%;
}

.instructions {
  text-align: center;
  font-size: 18px;
  margin: 30px;
}

.text-input {
  text-align: center;
}

.upload-label {
  text-align: center;
  color: white;
  background-color: #222;
  padding: 10px;
  margin: 20px 0px 10px 20px;
  border-radius: 32px;
  width: 100%;
  cursor: pointer;
}

ion-item.item-block.item-no-border {
  .item-inner {
    border: none;
  }
}

.profile-picture {
  border-radius: 50%;
}

.section-content {
  text-align: left ;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 13px;
}

.section-content-small {
  text-align: left ;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 13px;
}

.section-name {
  margin-left: 10px;
  font-weight: bold;
  font-color: #32db64;
}

.post-author {
  align-self: center;
}

h3.post-author {
  font-weight: normal;
}

.post-comment {
  .like-count {
    margin-right: 5px;
    font-size: 0.8em;
  }
}

.post-time {
  font-size: 11px;
}

.corner-count {
  padding-bottom: 10px;
}
