@import "{}/client/styles/_variables";

//####################
//### common css
//####################
.list-full-border {
  .item {
    border-bottom: 1px solid $borderColor;
    .item-inner {
      border: none;
    }
  }
}

.rlt {
  position: relative;
}

.cf {
  clear: both;
}

.narrow-bar {
  min-height: 40px;
  border: none;
}

.bar-title {
  float: center;
}

ion-item.item-block.item-no-border {
  .item-inner {
    border: none;
  }
}

.corner-count {
  padding-bottom: 10px;
}

.small-user-avatar {
  border-radius: 50%;
  max-width: 20px;
  max-height: 20px;
}

.options-popover {
  $popover-width: 200px;
  $popover-margin: 5px;

  .popover-content {
    width: $popover-width;
    transform-origin: right top 0px !important;
    left: calc(100% - #{$popover-width} - #{$popover-margin}) !important;
    top: $popover-margin !important;
  }
}


//####################
//### edit page css
//####################
input.text-input {
  text-align: left;
}

textarea.text-input {
  text-align: left;
}

.error-hint {
  font-size: 11px;
  color: map_get($colors, danger);
}

.large-button {
  width: 50%;
}

.instructions {
  text-align: center;
  font-size: 18px;
  margin: 30px;
}

.upload-label {
  text-align: center;
  color: white;
  background-color: #222;
  padding: 10px;
  margin: 20px 0px 10px 20px;
  border-radius: 32px;
  width: 100%;
  cursor: pointer;
}


//####################
//### option menu css
//####################
.options {
  margin: 0;
}

.option-name {
  float: left;
}

.option-icon {
  float: right;
}


//####################
//###detail page style
//####################
.profile-picture {
  border-radius: 50%;
}

.section-content {
  text-align: left ;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 13px;
}

.section-content-small {
  text-align: left ;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 13px;
}

.section-name {
  margin-left: 10px;
  font-weight: bold;
  font-color: #32db64;
}

.post-author {
  align-self: center;
}

h3.post-author {
  font-weight: normal;
}

.post-comment {
  .like-count {
    margin-right: 5px;
    font-size: 0.8em;
  }
}

.post-time {
  font-size: 11px;
}


//####################
//###side menu
//####################
.menu-left {
  background-image:  url("/assets/background.jpg");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  .item  {
    background-color: transparent !important;
  }
}
