<!-- logged out menu -->
<ion-menu id="loggedOutMenu" [content]="content">
  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-center>
      <div menuClose>
        <img class="profile-picture" [src]="profile.picture">
        <h4 color="primary">{{profile.name}}</h4>
      </div>
    </div>

    <ion-list class="list-full-border">
      <ion-list-header>
        功能快览 
      </ion-list-header>
      <button menuClose ion-item *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" color="primary"></ion-icon>
        <h2 color="primary">{{ p.title }}</h2>
        <ion-badge color="danger" item-right *ngIf="p.count">{{ p.count }}</ion-badge>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content">
  <ion-content class="menu-left">
    <!-- User profile -->
    <div text-center>
      <div menuClose>
        <img class="profile-picture" [src]="profile.picture">
        <h4 color="primary">{{profile.name}}</h4>
      </div>
    </div>

    <ion-list>
      <ion-list-header>
        功能快览 
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" color="myapp"></ion-icon>
        <h2 color="primary"> {{p.title}}</h2>
        <ion-badge color="danger" item-right *ngIf="p.count">{{ p.count }}</ion-badge>
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        账户管理
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon" color="myapp"></ion-icon>
        <h2 color="primary"> {{p.title}}</h2>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
