<ion-header>
  <ion-navbar color="myapp" class="job-comments-page-navbar">
    <ion-title class="job-title">{{title}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only class="settings-button" (click)="showOptions()" *ngIf="showOptionsOrNot()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding class="job-comments-page-content">
  <div class="job-comments">
    <div *ngFor="let jobComment of jobComments | async" class="job-comment-wrapper">
    <!--
      <div [class]="'job-comment-timestamp timestamp-' + jobComment.ownership">{{jobComment.createdAt | amDateFormat: 'H时m分'}}</div>
      -->
      <ion-avatar>
        <img [src]="jobComment.profile.picture" [class]="'user-avatar avatar-' + jobComment.ownership"></img>
      </ion-avatar>
      <div [class]="'job-comment job-comment-' + jobComment.ownership">
        <div class="job-comment-content">{{jobComment.content}}</div>
      </div>
    </div>
  </div>
</ion-content>

 
<ion-footer>
  <ion-toolbar color="myapp" class="job-comments-page-footer" position="bottom">
    <textarea rows="3" cols="35"  [(ngModel)]="jobComment"  class="job-comment-editor" placeholder="输入评论内容"></textarea>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="jobComment" class="job-comment-editor-button" (click)="sendJobComment()">
        <ion-icon name="send"></ion-icon>
      </button>
 
      <button ion-button icon-only *ngIf="!jobComment" class="job-comment-editor-button">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
