<ion-header>
  <ion-navbar color="myapp" class="job-detail-navbar">
    <ion-title class="job-title">{{barTitle}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only (click)="doShare()">
        <ion-icon ios="ios-share-outline" md="md-share">
      </ion-icon></button>
      <button ion-button icon-only class="settings-button" (click)="showOptions()" *ngIf="showOptionsOrNot()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="job-detail-content">
  <ion-fab left bottom>
    <button ion-fab mini color="dark"><ion-icon ios="ios-share-outline" md="md-share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook" (click)="shareViaFacebook()"></ion-icon></button>
      <button ion-fab><ion-icon name="chatbubbles" (click)="shareViaWechat()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <div class="card-title"><h1>{{job.title}}</h1></div>

  <ion-row class="no-padding">
    <ion-item class="shrink-item">
      <ion-avatar>
        <img [src]="job.profile.picture" class="user-avatar"></img>
      </ion-avatar>
    </ion-item>
      <p>{{job.profile.name}} {{job.createdAt | amTimeAgo | chineseTimeAgo}}</p>
  </ion-row>

  <ion-item>
    <div class="job-item"><ion-icon name="link"  style="color: #4682b4"></ion-icon>    职位</div>
    <div class="job-content">{{job.position}}</div>
  </ion-item>
  
  <ion-item>
    <div class="job-item"><ion-icon name="locate"  style="color: #4682b4"></ion-icon>    地点</div>
    <div class="job-content">{{job.location}}</div>
  </ion-item>

  <ion-item>
    <div class="job-item"><ion-icon name="people"  style="color: #4682b4"></ion-icon>    招聘人数</div>
    <div class="job-content"> {{job.people}}</div>
  </ion-item>

  <ion-item>
    <div class="job-item"><ion-icon name="calendar"  style="color: #4682b4"></ion-icon>    开始时期</div>
    <div class="job-content"> {{job.start | date:'yyyy年M月d日'}}</div>
  </ion-item>

  <ion-item>
    <div class="job-item"><ion-icon name="information-circle"  style="color: #4682b4"></ion-icon>    JOB详细</div>
    <div class="job-content">{{job.description}}</div>
  </ion-item>

  <ion-item>
    <button ion-button icon-only clear (click)="showComments()" item-right>
      <ion-icon name='text' item-right style="color: #556b2f"></ion-icon>
    </button>
    <ion-badge item-right>{{job.commented}}</ion-badge></ion-icon>
  </ion-item>

</ion-content> 
