<ion-header>
  <ion-toolbar color="myapp" class="narrow-bar">
    <ion-title>发布工作信息</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="new-job">
  <ion-list>
    <form [formGroup]="newJobForm">
      <ion-item>
        <ion-label floating color="primary">标题
          <ion-icon name="medical" style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="title" name="title"></ion-input>
      </ion-item>

      <div *ngIf="title.hasError('required') && title.touched" class="error-hint">请输入标题！</div>
      <div *ngIf="title.hasError('maxlength') && title.touched" class="error-hint">
        最长可输入50文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">工作地点
          <ion-icon name="medical" style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="location" name="location"></ion-input>
      </ion-item>

      <div *ngIf="location.hasError('required') && location.touched" class="error-hint">请输入工作地点</div>
      <div *ngIf="location.hasError('maxlength') && location.touched" class="error-hint">
        最长可输入50文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">职位
          <ion-icon name="medical" style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="position" name="position"></ion-input>
      </ion-item>

      <div *ngIf="position.hasError('required') && position.touched" class="error-hint">请输入职位！</div>
      <div *ngIf="position.hasError('maxlength') && position.touched" class="error-hint">
        最长可输入100文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">人数
          <ion-icon name="medical" style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="people" name="people"></ion-input>
      </ion-item>

      <div *ngIf="people.hasError('required') && people.touched" class="error-hint">请输入人数！</div>
      <div *ngIf="people.hasError('overMaxValue') && people.touched" class="error-hint">
        请输入99999以下的数字!
      </div>

      <ion-item>
        <ion-label floating color="primary">开始时间
          <ion-icon name="medical" style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-datetime formControlName="start" name="start" type="datetime"
          displayFormat="YYYY年M月D日"
          [max]="maxDay"
          [min]="minDay"
          cancelText="取消"
          doneText="选择"></ion-datetime>
      </ion-item>

      <div *ngIf="start.hasError('notFutureTime') && start.touched" class="error-hint">请输入将来时间！</div>

      <ion-item>
        <ion-label floating color="primary">详细信息
          <ion-icon name="medical" style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-textarea rows="6"  formControlName="description" name="description"></ion-textarea>
      </ion-item>

      <div *ngIf="description.hasError('required') && description.touched" class="error-hint">请输入详细信息！</div>
      <div *ngIf="description.hasError('maxlength') && description.touched" class="error-hint">
        最长可输入1000文字!
      </div>

      <ion-item>
        <button ion-button (click)="addJob()" type="submit" color="favorite" [disabled]="!newJobForm.valid" block>发布工作信息</button>
      </ion-item>
     </form>
  </ion-list>
</ion-content>
