<ion-header>
  <ion-toolbar color="myapp">
    <ion-title>新主题</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="new-topic">
  <ion-list>
    <ion-item>
      <ion-label floating color="primary">标题</ion-label>
      <ion-input [(ngModel)]="title"  name="title" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating color="primary">内容</ion-label>
      <ion-textarea rows="6"  [(ngModel)]="content"></ion-textarea>
    </ion-item>
    
    <ion-row>
      <ion-item>
        <label class="upload-label" for="picture_upload">
          ＋上传图片
          <input type="file" id="picture_upload" style="display:none;" (change)="uploadPicture($event.target.files)"/>
        <label>
      </ion-item>
      <ion-item>
      <div *ngFor="let thumb of thumbs | async" class="float: right;">
         <img [src]= 'thumb.path'></img>
      </div>
      </ion-item>
    </ion-row>

    <ion-item>
      <button ion-button (click)="addTopic()" type="submit" color="favorite" block>发表主题</button>
    </ion-item>
  </ion-list>
</ion-content>
