<ion-header>
  <ion-toolbar color="myapp" class="narrow-bar">
    <ion-title>新主题</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="new-topic">
  <ion-list>
    <form [formGroup]="newTopicForm">
    <ion-item>
      <ion-label floating color="primary">标题
        <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
      <ion-input formControlName="title"  name="title"></ion-input>
    </ion-item>

    <div *ngIf="title.hasError('required') && title.touched" class="error-hint">请输入标题!</div>
    <div  *ngIf="title.hasError('maxlength') && title.touched" class="error-hint">
      最长可输入50文字!
    </div>

    <ion-item>
      <ion-label floating color="primary">内容
        <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
      <ion-textarea rows="6" formControlName="content" name="content"></ion-textarea>
    </ion-item>

    <div *ngIf="content.hasError('required') && content.touched" class="error-hint">请输入内容!</div>
    <div  *ngIf="content.hasError('maxlength') && content.touched" class="error-hint">
      最长可输入5000文字!
    </div>

    <ion-row>
      <ion-item>
        <label class="upload-label" for="picture_upload">
          ＋上传图片
          <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon>
          <input type="file" id="picture_upload" style="display:none;" (change)="uploadPicture($event.target.files, 'main')"/>
        </label>
      </ion-item>

    <ion-list>
      <ion-item-sliding *ngFor="let thumb of thumbs | async" class="float: right;">
      <button ion-item>
        <img [src]= 'thumb.path'></img>
      </button>
      <ion-item-options>
        <button ion-button color="danger" (click)="removePicture(thumb)">消除</button>
      </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </ion-row>

    <ion-item>
      <button ion-button (click)="addTopic()" type="submit" [disabled]="!newTopicForm.valid" color="favorite" block>发表主题</button>
    </ion-item>
    </form>
  </ion-list>
</ion-content>
