topic-detail {
  .topic-content {
    text-align: left ;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 17px;
  }

  .comment-thumb {
    float: right;
    width: 80%;
    text-align: right;
  }

  .post-time {
    margin-top: 10px;
  }
}
