<ion-header>
  <ion-navbar color="myapp">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only class="add-topic-button" (click)="addTopic()">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-toolbar>
      <ion-searchbar color="primary"
                     [(ngModel)]="queryText"
                     (ionInput)="updateSchedule()"
                     placeholder="Search">
      </ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="topics-page-content">
  <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
    <ion-segment-button value="0">
      日本杂谈 
    </ion-segment-button>
    <ion-segment-button value="1">
       社群
    </ion-segment-button>
    <ion-segment-button value="2">
       住居
     </ion-segment-button>
     <ion-segment-button value="3">
       工作
    </ion-segment-button>
  </ion-segment>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="拖拽后放开来更新内容"
      refreshingSpinner="circles"
      refreshingText="更新中...">
    </ion-refresher-content>
  </ion-refresher>
 
  <ion-list>
    <ion-card *ngFor="let topic of topics | async">
      <ion-row>
        <ion-col>
           <div>
             <p class="topic-title">{{topic.title}}</ion-label>
             <ion-row class="no-padding">
                <ion-item class="shrink-item">
                  <ion-avatar>
                    <img [src]="topic.profile.picture" class="top-user-avatar"></img>
                  </ion-avatar>
                </ion-item>
                <p class="creator-info">{{topic.profile.name}} {{topic.createdAt | amTimeAgo | chineseTimeAgo}}</p>
             </ion-row>
           </div>
        </ion-col>
        <div class="float: right;">
          <img [src]='topic.thumb' class="topic-picture"></img>
        </div>
      </ion-row>
      
      <ion-card-content>
        <button ion-item clear (click)="showDetail(topic)">
          <span>
            <p class="topic-brief">{{topic.content.slice(0, 22)}}</p>
            <p class="topic-brief">{{topic.content.slice(22, 44)}}...</p>
          </span>
        </buttoN>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button clear small (click)="thumbUp(topic)">
            <ion-icon name="thumbs-up" style="color: #d03e84"></ion-icon>
            <div>{{topic.thumbed}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear small  (click)="showComments(topic)">
            <ion-icon name="text" style="color: #556b2f"></ion-icon>
            <div>{{topic.commented}}</div>
          </button>
        </ion-col>
        <ion-col left  text-left>
          <div class="last-comment-time" *ngIf="topic.lastComment">最后评论:{{topic.lastComment.createdAt | amTimeAgo | chineseTimeAgo}}</div>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>
</ion-content> 
