.topics-page-header {
  ion-avatar {
    min-height: 25px;
  }

  .profile-picture {
    border-radius: 50%;
    max-width: 25px;
    max-height: 25px;
  }

  .small-icon {
    width: 25px;
    vertical-align: top;
  }
}

.topics-page-content {
  background-color: #d3d3d3;

  .card-block {
    width: 100%;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 0px;
  }

  .topic-title {
    float: left;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .topic-title-line {
    padding-right: 10px;
  }

  .activity-title-line {
    padding-right: 10px;
  }

  .house-title-line {
    padding-right: 10px;
  }

  .topic-picture {
    margin-top: 3px;
    width: 100%;
  }

  .activity-picture {
    margin-top: 10px;
    width: 100%;
  }

  .house-picture {
    margin-top: 10px;
    width: 100%;
  }
  
  .creator-info {
    font-size: 10px;
    margin: 5px 0px 0px 0px !important;
    padding: 0px;
  }

  .topic-brief {
    font-size: 14px;
  }

  ion-col div {
    padding: 0px;
    text-align: left;
    height: 25px;
  }

  .top-user-avatar {
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
  }

  .label-md {
    margin: 0px 0px 0px 0px !important;
  }
  .label-ios {
    margin: 0px 0px 0px 0px !important;
  }

  ion-avatar {
    min-height: 25px;
  }

  .shrink-item {
    padding: 0px !important;
    min-height: 25px;
    width: 30px;
  }

  ion-card-content {
    padding: 0px 0px 0px 0px !important;
  }
  
  .no-padding {
    padding: 0px !important;
  }
  
  .last-comment-time {
    font-size: 12px;
    float: right;
    width: 30%;
    text-align: right;
    margin-top: 10px;
  }

  .activity-info {
    font-size: 16px;
    color: #8b4513;
    font-weight: bold;
  }

  .house-info {
    font-size: 16px;
    color: #8b4513;
    font-weight: bold;
  }

  .job-info {
    font-size: 16px;
    color: #8b4513;
    font-weight: bold;
  }

  .icon-line {
    background-color: #f5f5f5;
    .icon-group {
      width: 60%; 
    }

    .corner-count {
      padding-bottom: 10px;
    }
  }
}
