topic-detail {
  .topic-content {
    text-align: left ;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 17px;
  }

  .comment-thumb {
    float: right;
    width: 150px;
    text-align: right;
  }

  .post-time {
    margin-top: 10px;
  }

  .subcomment-time {
    font-size: 6px;
    float: right;
    width: 80%;
    text-align: right;
  }

  .line {
    text-indent:6em;
  }
}
