<ion-header class="topics-page-header">
  <ion-navbar color="myapp" class="narrow-bar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!showSearch">日本事儿</ion-title>
    <ion-buttons end>
      <button *ngIf="!showSearch" ion-button icon-only (click)="toggleSearch()" class="small-icon">
        <ion-icon name="search"><ion-icon>
      </button>
      <button *ngIf="showSearch" ion-button icon-only (click)="toggleSearch()" class="small-icon">
        <ion-icon name="pause"></ion-icon>
      </button>
      <button *ngIf="!user" ion-button icon-only (click)="login()">
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button *ngIf="user" class="profile-button">
        <img [src]="user.profile.picture" class="profile-picture"></img>
      </button>
    </ion-buttons>
    <ion-toolbar *ngIf="showSearch" class="narrow-bar">
      <ion-searchbar color="primary"
                     [(ngModel)]="queryText"
                     (ionInput)="getItems($event)"
                     placeholder="Search">
      </ion-searchbar>
    </ion-toolbar>
  </ion-navbar>

  <ion-toolbar class="narrow-bar">
    <ion-segment [(ngModel)]="category" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="topics">
        杂谈 
      </ion-segment-button>
      <ion-segment-button value="activities">
         社群
      </ion-segment-button>
      <ion-segment-button value="houses">
         住居
      </ion-segment-button>
        <ion-segment-button value="jobs">
        工作
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="topics-page-content">
  <ion-fab right bottom>
    <button ion-fab mini (click)="addNew()" color="favorite"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="拖拽后放开来更新内容"
      refreshingSpinner="circles"
      refreshingText="更新中...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'topics'">
      <ion-card *ngFor="let topic of topics | async" class="card-block">
        <ion-row class="topic-title-line">
          <ion-col>
             <div>
               <p class="topic-title">{{topic.title}}</ion-label>
               <ion-row class="no-padding">
                  <ion-item class="shrink-item">
                    <ion-avatar>
                      <img [src]="topic.profile.picture" class="top-user-avatar"></img>
                    </ion-avatar>
                  </ion-item>
                  <p class="creator-info">{{topic.profile.name}} {{topic.createdAt | amTimeAgo | chineseTimeAgo}}</p>
               </ion-row>
             </div>
          </ion-col>
          <div class="float: right;">
            <img [src]='topic.thumb' class="topic-picture"></img>
          </div>
        </ion-row>
      
        <ion-card-content>
          <button ion-item clear (click)="showDetail(topic, 'topic')">
            <span>
              <p class="topic-brief">{{topic.content.slice(0, 22)}}</p>
              <p class="topic-brief">{{topic.content.slice(22, 44)}} ...</p>
            </span>
          </buttoN>
        </ion-card-content>

        <ion-row class="icon-line">
          <ion-col>
            <button ion-button clear small (click)="thumbUp(topic)">
              <ion-icon name="thumbs-up" style="color: #d03e84"></ion-icon>
              <div>{{topic.thumbed}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small  (click)="showComments(topic, 'topic')">
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <div>{{topic.commented}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small (click)="addBookmark(topic, 'topic')">
              <ion-icon name="bookmark" style="color: #47266e"></ion-icon>
            </button>
          </ion-col>
          <ion-col left  text-left>
            <div class="last-comment-time" *ngIf="topic.commentedAt">最后评论:{{topic.commentedAt | amTimeAgo | chineseTimeAgo}}</div>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>
  
    <ion-list *ngSwitchCase="'activities'">
      <ion-card *ngFor="let activity of activities | async" class="card-block">
        <ion-row class="activity-title-line">
          <ion-col>
             <div>
               <p class="topic-title">{{activity.title}}</ion-label>
               <ion-row class="no-padding">
                  <ion-item class="shrink-item">
                    <ion-avatar>
                      <img [src]="activity.profile.picture" class="top-user-avatar"></img>
                    </ion-avatar>
                  </ion-item>
                  <p class="creator-info">{{activity.profile.name}} {{activity.createdAt | amTimeAgo | chineseTimeAgo}}</p>
               </ion-row>
             </div>
          </ion-col>
          <div class="float: right;">
            <img [src]='getActivityStatusImage(activity)' class="activity-picture"></img>
          </div>
        </ion-row>
      
        <ion-card-content>
          <button ion-item clear (click)="showDetail(activity, 'activity')">
            <span >
              <p class="activity-info"> 
                <ion-icon name="bonfire"  style="color: #4682b4"></ion-icon>
                定员{{activity.people}}名 {{activity.day | date:'M月d日'}}发动 ...
              </p>
            </span>
          </button>
        </ion-card-content>

        <ion-row class="icon-line">
          <ion-col>
            <button ion-button clear small (click)="joinActivity(activity)">
              <ion-icon name="person-add" style="color: #d03e84"></ion-icon>
              <div>{{activity.joined}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small  (click)="showComments(activity, 'activity')">
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <div>{{activity.commented}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small (click)="addBookmark(activity, 'activity')">
              <ion-icon name="bookmark" style="color: #47266e"></ion-icon>
            </button>
          </ion-col>
          <ion-col left  text-left>
            <div class="last-comment-time" *ngIf="activity.commentedAt">最后评论:{{activity.commentedAt | amTimeAgo | chineseTimeAgo}}</div>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>


    <ion-list *ngSwitchCase="'houses'">
      <ion-card *ngFor="let house of houses | async" class="card-block">
        <ion-row class="house-title-line">
          <ion-col>
             <div>
               <p class="topic-title">{{house.title}}</ion-label>
               <ion-row class="no-padding">
                  <ion-item class="shrink-item">
                    <ion-avatar>
                      <img [src]="house.profile.picture" class="top-user-avatar"></img>
                    </ion-avatar>
                  </ion-item>
                  <p class="creator-info">{{house.profile.name}} {{house.createdAt | amTimeAgo | chineseTimeAgo}}</p>
               </ion-row>
             </div>
          </ion-col>
          <div class="float: right;">
            <img [src]='house.thumb' class="house-picture"></img>
          </div>
        </ion-row>
      
        <ion-card-content>
          <button ion-item clear (click)="showDetail(house, 'house')">
            <span>
               <p class="house-info"> <ion-icon name="cube"  style="color: #4682b4"></ion-icon>
               {{house.floorPlan}}・{{house.area}}平米・{{house.price}}万円</p>
              <p class="topic-brief">{{house.brief.slice(0, 22)}}</p>
              <p class="topic-brief">{{house.brief.slice(22, 44)}}...</p>
            </span>
          </buttoN>
        </ion-card-content>

        <ion-row class="icon-line">
          <ion-col>
            <button ion-button clear small  (click)="showComments(house, 'house')">
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <div>{{house.commented}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small (click)="addBookmark(house, 'house')">
              <ion-icon name="bookmark" style="color: #47266e"></ion-icon>
            </button>
          </ion-col>
          <ion-col left  text-left>
            <div class="last-comment-time" *ngIf="house.commentedAt">最后评论:{{house.commentedAt | amTimeAgo | chineseTimeAgo}}</div>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'jobs'">
      <ion-card *ngFor="let job of jobs | async" class="card-block">
        <ion-row>
          <ion-col>
             <div>
               <p class="topic-title">{{job.title}}</ion-label>
               <ion-row class="no-padding">
                  <ion-item class="shrink-item">
                    <ion-avatar>
                      <img [src]="job.profile.picture" class="top-user-avatar"></img>
                    </ion-avatar>
                  </ion-item>
                  <p class="creator-info">{{job.profile.name}} {{job.createdAt | amTimeAgo | chineseTimeAgo}}</p>
               </ion-row>
             </div>
          </ion-col>
        </ion-row>
      
        <ion-card-content>
          <button ion-item clear (click)="showDetail(job, 'job')">
            <span >
             <p class="job-info">
             <ion-icon name="boat"  style="color: #4682b4"></ion-icon> {{job.location}}  {{job.position}} {{job.people}}名 {{job.start | date:'M月d日'}}开始 ...</p>
            </span>
          </button>
        </ion-card-content>

        <ion-row class="icon-line">
          <ion-col>
            <button ion-button clear small  (click)="showComments(job, 'job')">
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <div>{{job.commented}}</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small (click)="addBookmark(job, 'job')">
              <ion-icon name="bookmark" style="color: #47266e"></ion-icon>
            </button>
          </ion-col>
          <ion-col left  text-left>
            <div class="last-comment-time" *ngIf="job.commentedAt">最后评论:{{job.commentedAt | amTimeAgo | chineseTimeAgo}}</div>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>
  </div>

</ion-content> 
