<ion-header>
  <ion-navbar color="myapp" class="topic-detail-navbar">
    <ion-title class="topic-title">{{barTitle}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only class="settings-button" (click)="showOptions()" *ngIf="showOptionsOrNot()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="topic-detail-content">
  <ion-fab left bottom>
    <button ion-fab mini color="dark"><ion-icon ios="ios-share-outline" md="md-share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook" (click)="shareViaFacebook()"></ion-icon></button>
      <button ion-fab><ion-icon name="chatbubbles" (click)="shareViaWechat()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <h1 class="card-title">
    {{topic.title}}
  </h1>

  <ion-row class="no-padding">
    <ion-item ciass="shrink-item">
      <ion-avatar>
        <img [src]="topic.profile.picture" class="user-avatar"></img>
      </ion-avatar>
    </ion-item>
      <p>{{topic.profile.name}} {{topic.createdAt | amTimeAgo | chineseTimeAgo}}</p>
  </ion-row>

  <ion-item>
    <img class="topic-picture" *ngIf="topic.picture" [src]="topic.picture"/>
    <div class="topic-content">{{topic.content}}</div>
  </ion-item>

  <ion-item>
    <button ion-button  icon-only clear (click)="thumbUp()" item-right>
      <ion-icon name='thumbs-up' item-right style="color: #d03e84"></ion-icon>
    </button>
    <ion-badge item-right>{{topic.thumbed}}</ion-badge>
  </ion-item>

  <ion-item>
    <button ion-button icon-only clear (click)="showComments()" item-right>
      <ion-icon name='text' item-right style="color: #556b2f"></ion-icon>
    </button>
    <ion-badge item-right>{{topic.commented}}</ion-badge></ion-icon>
  </ion-item>

</ion-content> 
