page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-image {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
  }

}
