activity-detail {
  .activity-detail-navbar {
    min-height: 40px;

    .topic-title {
      line-height: 50px;
      float: center;
    }
  }

  ion-item.item-block.item-no-border {
    .item-inner {
      border: none;
    }
  }

  .profile-picture {
    border-radius: 50%;
  }

  .section-content {
    text-align: left ;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 15px;
  }

  .section-name {
    margin-left: 10px;
    font-weight: bold;
    font-color: #32db64;
  }

  .post-author {
    align-self: center;
  }

  h3.post-author {
    font-weight: normal;
  }

  .post-comment {

    .like-count {
      margin-right: 5px;
      font-size: 0.8em;
    }
  }

  .post-time {
    font-size: 11px;
  }

  .corner-count {
    padding-bottom: 10px;
  }
}
