<ion-header>
  <ion-navbar color="myapp" class="topic-detail-navbar">
    <ion-title class="topic-title">{{barTitle}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only (click)="doShare()">
        <ion-icon ios="ios-share-outline" md="md-share">
      </ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="picture"/>
    <ion-card-content>
      <h1 class="card-title">
        {{title}}
      </h1>
      <pre>{{content}}</pre>
    </ion-card-content>
    <ion-item>
      <button ion-button  icon-only clear (click)="showComments()" item-right>
        <ion-icon name='thumbs-up' item-right style="color: #d03e84"></ion-icon>
      </button>
      <ion-badge item-right>9</ion-badge>
    </ion-item>

    <ion-item>
      <button ion-button icon-only clear (click)="showComments()" item-right>
        <ion-icon name='text' item-right style="color: #556b2f"></ion-icon>
      </button>
      <ion-badge item-right>260k</ion-badge></ion-icon>
    </ion-item>
  </ion-card>

</ion-content> 
