.topic-detail-navbar {
  .topic-title {
    line-height: 50px;
    float: center;
  }
}
 
.topic-detail-content {
  .topic-content:before {
    content: "\A" ;
    white-space: pre ;
  }
  .topic-content {
    text-align: left ;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
