<ion-header class="bookmarks-header">
  <ion-navbar color="myapp" class="narrow-bar">
    <button category="bar-button" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>我的收藏</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bookmarks-page-content">
  <div *ngIf="!utilSrv.isLoggedIn()">你需要登录才可以查看收藏。</div>
  <ion-list>
    <ion-item-sliding *ngFor="let bookmark of bookmarks | async">
      <button ion-item (click)="showDetail(bookmark)">
        <div class="bookmark-picture">
          <img [src]="bookmark.thumbnail"/>
        </div>
        <div class="bookmark-info">
          <h2>{{editTitle(bookmark.title)}}</h2>
          <span class="bookmark-type">{{types[bookmark.type]}}</span>
          <span class="post-time">
            <ion-icon name="time"></ion-icon>
            {{bookmark.createdAt | amTimeAgo | chineseTimeAgo}}
          </span>
        </div>
      </button>
      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="removeBookmark(bookmark)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content> 

