.bookmarks-page-content {
  .bookmark-picture {
    float: left;
    width: 36px;
    margin: 0px;
  }

  .bookmark-info {
    float: left;
    margin: 0px 0 0 20px;
    .bookmark-type {
      font-size: 13px;
      color: #9079b6;
      font-weight: bold;
    }
  }
}
