.bookmarks-page-content {
  .bookmark-picture {
    float: left;
    width: 36px;
    margin: 0px;
  }

  .bookmark-info {
    float: left;
    margin: 0px 0 0 20px;

    .create-timestamp {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
      color: #9A9898;
    }
  }
}
