<ion-header>
  <ion-navbar color="myapp" class="comments-page-navbar">
    <ion-title class="topic-title">{{title}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only class="settings-button" (click)="showOptions()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding class="comments-page-content">
  <ion-scroll scrollY="true" class="comments">
    <div *ngFor="let comment of comments | async" class="comment-wrapper">
      <div [class]="'comment comment-' + comment.ownership">
        <div class="comment-content">{{comment.content}}</div>
        <span class="comment-timestamp">{{comment.createdAt | amDateFormat: 'HH:MM'}}</span>
      </div>
    </div>
  </ion-scroll>
</ion-content>

 
<ion-footer>
  <ion-toolbar color="myapp" class="comments-page-footer" position="bottom">
    <ion-input [(ngModel)]="comment" (keypress)="onInputKeypress($event)" class="comment-editor" placeholder="Type a comment"></ion-input>
 
    <ion-buttons end>
      <button ion-button icon-only *ngIf="comment" class="comment-editor-button" (click)="sendComment()">
        <ion-icon name="send"></ion-icon>
      </button>
 
      <button ion-button icon-only *ngIf="!comment" class="comment-editor-button">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
