<ion-header>
  <ion-navbar color="myapp" class="comments-page-navbar">
    <ion-title class="topic-title">{{title}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only class="settings-button" (click)="showOptions()" *ngIf="showOptionsOrNot()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding class="comments-page-content">
  <div class="comments">
    <div *ngFor="let comment of comments | async" class="comment-wrapper">
    <!--
      <div [class]="'comment-timestamp timestamp-' + comment.ownership">{{comment.createdAt | amDateFormat: 'H时m分'}}</div>
      -->
      <ion-avatar>
        <img [src]="comment.profile.picture" [class]="'user-avatar avatar-' + comment.ownership"></img>
      </ion-avatar>
      <div [class]="'comment comment-' + comment.ownership">
        <div class="comment-content">{{comment.content}}</div>
      </div>
    </div>
  </div>
</ion-content>

 
<ion-footer>
  <ion-toolbar color="myapp" class="comments-page-footer" position="bottom">
    <textarea rows="3" cols="35"  [(ngModel)]="comment"  class="comment-editor" placeholder="输入评论内容"></textarea>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="comment" class="comment-editor-button" (click)="sendComment()">
        <ion-icon name="send"></ion-icon>
      </button>
 
      <button ion-button icon-only *ngIf="!comment" class="comment-editor-button">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
