house-detail {
  .brief-description {
    text-align: left ;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #4682b4;
    font-size: 11px;
  }

  .last-comment-time {
    // font-size: 12px;
    float: right;
    border: none;
    width: 30%;
    text-align: right;
    margin-top: -12px;
  }

  .line {
    text-indent:2em;
  }

  .comment-time {
    font-size: 18px;
    width: 30%;
    text-align: right;
    margin-top: -1px;
  }

  .subcomment-time {
    font-size: 15px;
    float: right;
    width: 30%;
    text-align: right;
    margin-top: -1px;
  }
}
