house-detail {
  .brief-description {
    text-align: left ;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #4682b4;
    font-size: 11px;
  }

  .last-comment-time {
    // font-size: 12px;
    float: right;
    border: none;
    width: 30%;
    text-align: right;
    margin-top: -12px;
  }
}
