.house-comments-page-navbar {
  .house-picture {
    width: 50px;
    border-radius: 50%;
    float: left;
  }
 
  .house-title {
    line-height: 50px;
    float: center;
  }
}
 
.house-comments-page-content {
  background-color: #a9a9a9;
  background-image: url(/assets/chat-background.jpg);

  > .scroll-content {
    margin: 36px -15px 53px !important;
  }
 
  .house-comments {
    height: 100%;
  }
 
  .house-comment-wrapper {
    margin-bottom: 9px;
 
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
 
  .house-comment {
    display: inline-block;
    position: relative;
    max-width: 236px;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
 
    &.house-comment-mine {
      float: right;
      margin-right: 6px;
      background-color: #DCF8C6;
 
      &::before {
        right: -11px;
        top: 5px;
        background-image: url(/assets/comment-mine.png)
      }
    }
 
    &.house-comment-other {
      float: left;
      margin-left: 6px;
      background-color: #FFF;
 
      &::before {
        left: -11px;
        top: 5px;
        background-image: url(/assets/comment-other.png)
      }
    }
 
    &.house-comment-other::before, &.house-comment-mine::before {
      content: "";
      position: absolute;
      bottom: 3px;
      width: 12px;
      height: 19px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
 
    .house-comment-content {
      padding: 5px 7px;
      word-wrap: break-word;
      white-space: pre-wrap;
 
      &::after {
        content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        display: inline;
      }
    }
 
  }

  .user-avatar {
    max-width: 24px;
    max-height: 24px;
    
    &.avatar-mine {
      float: right;
      margin-right: 0;
      margin-top: 10px;
    }

    &.avatar-other {
      float: left;
      margin-left: 2px;
      margin-top: 10px;
    }
  }

  .house-comment-timestamp {
    font-size: 12px;
    color: gray;
    width: 100%;
    position: absolute;

    &.timestamp-mine {
      float: right;
      margin-right: 10px;
    }

    &.timestamp-other {
      float: left;
      margin-right: 10px;
    }
  }
}

.house-comments-page-footer {
  padding-right: 0;
 
  .house-comment-editor {
    margin-left: 2px;
    padding-left: 5px;
    background: white;
    border-radius: 3px;
  }
 
  .house-comment-editor-button {
    box-shadow: none;
    width: 50px;
    height: 50px;
    font-size: 17px;
    margin: auto;
  }
}
