<ion-header>
  <ion-navbar color="myapp" class="house-detail-navbar">
    <ion-title class="house-title">{{barTitle}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only (click)="doShare()">
        <ion-icon ios="ios-share-outline" md="md-share">
      </ion-icon></button>
      <button ion-button icon-only class="settings-button" (click)="showOptions()" *ngIf="showOptionsOrNot()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="house-detail-content">
  <h1 class="card-title">
    {{house.title}}
  </h1>

  <ion-row class="no-padding">
    <ion-item class="shrink-item">
      <ion-avatar>
        <img [src]="house.profile.picture" class="user-avatar"></img>
      </ion-avatar>
    </ion-item>
      <p>{{house.profile.name}} {{house.createdAt | amTimeAgo | chineseTimeAgo}}</p>
  </ion-row>
  
  <ion-item>
    <div class="house-content">{{house.brief}}</div>
  </ion-item>

  <ion-item>
    <img class="house-picture" *ngIf="house.picture" [src]="house.picture"/>
  </ion-item>

  <ion-item>
    <div class="house-item"><ion-icon name="flag"  style="color: #4682b4"></ion-icon>    部件类型</div>
    <div class="house-content">{{getHouseType(house)}}</div>
  </ion-item>
  
  <ion-item>
    <div class="house-item"><ion-icon name="analytics"  style="color: #4682b4"></ion-icon>    房型・面积・年数</div>
    <div class="house-content">{{house.floorPlan}}・{{house.area}}平米・{{house.built}}年</div>
  </ion-item>

  <ion-item>
    <div class="house-item"><ion-icon name="subway"  style="color: #4682b4"></ion-icon>    交通</div>
    <div class="house-content">{{house.access}}</div>
  </ion-item>

  <ion-item>
    <div class="house-item"><ion-icon name="cash"  style="color: #4682b4"></ion-icon>    租・售价格</div>
    <div class="house-content">{{house.price}}万円</div>
  </ion-item>

  <ion-item>
    <div class="house-item"><ion-icon name="information-circle"  style="color: #4682b4"></ion-icon>    部件详细</div>
    <div class="house-content">{{house.description}}</div>
  </ion-item>

  <ion-slides [options]="mySlideOptions">
    <ion-slide *ngFor="let picture of pictures | async">
      <img class="house-picture" [src]="picture.picture"/>
    </ion-slide>
  </ion-slides>

  <ion-item>
    <button ion-button icon-only clear (click)="showComments()" item-right>
      <ion-icon name='text' item-right style="color: #556b2f"></ion-icon>
    </button>
    <ion-badge item-right>{{house.commented}}</ion-badge></ion-icon>
  </ion-item>

</ion-content> 
