<ion-header>
  <ion-toolbar color="myapp" class="narrow-bar">
    <ion-title>发布租赁／买卖房屋信息</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="new-house">
  <ion-list>
    <form [formGroup]="newHouseForm">
      <ion-item>
          <ion-label floating color="primary">标题
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
          <ion-input formControlName="title" name="title"></ion-input>
      </ion-item>

      <div *ngIf="title.hasError('required') && title.touched" class="error-hint">请输入标题!</div>
      <div  *ngIf="title.hasError('maxlength') && title.touched" class="error-hint">
        最长可输入50文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">不动产特色</ion-label>
        <ion-textarea rows="6" formControlName="brief" name="brief"></ion-textarea>
      </ion-item>

      <div  *ngIf="brief.hasError('maxlength') && brief.touched" class="error-hint">
        最长可输入200文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">目的</ion-label>
        <ion-select formControlName="forRental" okText="选择" cancelText="取消" selectedText="出租">
          <ion-option value="0">出租</ion-option>
          <ion-option value="1">出售</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary">房屋类型</ion-label>
        <ion-select formControlName="type" okText="选择" cancelText="取消" selectedText="マンション">
          <ion-option value="0">マンション</ion-option>
          <ion-option value="1">アパート</ion-option>
          <ion-option value="2">一户建</ion-option>
          <ion-option value="3">土地</ion-option>
          <ion-option value="4">其它</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary">房型(LDK,3DK...etc)
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="floorPlan"  name="floorPlan"></ion-input>
      </ion-item>

      <div *ngIf="floorPlan.hasError('required') && floorPlan.touched" class="error-hint">请输入房型!</div>
      <div  *ngIf="floorPlan.hasError('maxlength') && floorPlan.touched" class="error-hint">
        最长可输入10文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">面积(平米）
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="area" name="area"></ion-input>
      </ion-item>

      <div *ngIf="area.hasError('required') && area.touched" class="error-hint">请输入面积!</div>
      <div *ngIf="area.hasError('incorrectFloatFormat') && area.touched" class="error-hint">请输入数字(小数点下2位)!</div>

      <ion-item>
        <ion-label floating color="primary">交通
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="access"  name="access"></ion-input>
      </ion-item>

      <div *ngIf="access.hasError('required') && access.touched" class="error-hint">请输入交通信息!</div>
      <div  *ngIf="access.hasError('maxlength') && access.touched" class="error-hint">
        最长可输入100文字!
      </div>

      <ion-item>
        <ion-label floating color="primary">价格(万円)
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="price"  name="price"></ion-input>
      </ion-item>

      <div *ngIf="price.hasError('required') && price.touched" class="error-hint">请输入价格!</div>
      <div *ngIf="price.hasError('incorrectFloatFormat') && price.touched" class="error-hint">请输入数字(小数点下两位)!</div>

      <ion-item>
        <ion-label floating color="primary">建成年数
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-input formControlName="built"  name="built"></ion-input>
      </ion-item>
      
      <div *ngIf="built.hasError('required') && built.touched" class="error-hint">请输入建成年数!</div>
      <div *ngIf="built.hasError('incorrectNumberFormat') && built.touched" class="error-hint">请输入数字!</div>

      <ion-item>
        <ion-label floating color="primary">详细信息
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon></ion-label>
        <ion-textarea rows="6"  formControlName="description"></ion-textarea>
      </ion-item>

      <div *ngIf="description.hasError('required') && description.touched" class="error-hint">请输入详细信息!</div>
      <div  *ngIf="description.hasError('maxlength') && description.touched" class="error-hint">
        最长可输入1000文字!
      </div>

      <ion-row>
        <ion-item>
          <label class="upload-label" for="picture_upload_main">
            ＋上传主图片
            <ion-icon name="medical"  style="color:red; font-size:3px"></ion-icon>
            <input type="file" id="picture_upload_main" style="display:none;" (change)="uploadPicture($event.target.files, 'main')"/>
          </label>
        </ion-item>

        <ion-list>
          <ion-item-sliding *ngFor="let thumb of thumbsMain | async" class="float: right;">
            <button ion-item>
              <img [src]= 'thumb.path'></img>
            </button>
            <ion-item-options>
              <button ion-button color="danger" (click)="removePicture(thumb)">消除</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-row>

      <ion-row>
        <ion-item>
          <label class="upload-label" for="picture_upload_sub">
            ＋上传副图片(限3张）
            <input type="file" id="picture_upload_sub" style="display:none;" (change)="uploadPicture($event.target.files, 'sub')"/>
          </label>
        </ion-item>

        <ion-list>
          <ion-item-sliding *ngFor="let thumb of thumbsSub | async" class="float: right;">
            <button ion-item>
              <img [src]= 'thumb.path'></img>
            </button>
            <ion-item-options>
              <button ion-button color="danger" (click)="removePicture(thumb)">消除</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-row>
      
      <ion-item>
        <button ion-button (click)="addHouse()" type="submit" color="favorite" [disabled]="!newHouseForm.valid" block>发布房屋信息</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
