.new-house {
  .large-button {
    width: 50%;
  }
  
  .upload-label {
    text-align: center;
    color: white;  
    background-color: #222;
    padding: 10px;
    margin: 0px;
    border-radius: 32px;
    width: 100%;
    cursor: pointer;
  }
}
