.login-header {
  .narrow-bar {
    min-height: 40px;
  }
}

.login-page-content {
  .instructions {
    text-align: center;
    font-size: 18px;
    margin: 30px;
  }
 
  .text-input {
    text-align: center;
  }

  .error-hint {
    font-size: 11px;
    color: #f53d3d;
  }
}
