<ion-header class="new-user-header">
  <ion-navbar color="myapp" class="narrow-bar">
    <ion-title>注册</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding class="new-user-page-content">
  <ion-list>
    <form [formGroup]="newUserForm">
      <ion-item>
        <ion-label stacked>邮件</ion-label>
        <ion-input formControlName="username"  name="username" type="email" required></ion-input>
      </ion-item>
       
      <div *ngIf="username.hasError('required') && username.touched" class="error-hint">邮件不能为空!</div>
      <div *ngIf="username.hasError('incorrectMailFormat') && username.touched" class="error-hint">邮件格式错误!</div>

      <ion-item>
        <ion-label stacked>密码</ion-label>
        <ion-input formControlName="password" name="password" type="password" required>
        </ion-input>
      </ion-item>
      
      <div *ngIf="password.hasError('required') && password.touched" class="error-hint">密码不能为空!</div>
      <div  *ngIf="password.hasError('minlength') && password.touched" class="error-hint">
        密码长度不能低于6位!
      </div>
      <div  *ngIf="password.hasError('maxlength') && password.touched" class="error-hint">
        密码长度最长20位!
      </div>

      <ion-item>
        <ion-label stacked>密码确认</ion-label>
        <ion-input formControlName="passwordConfirm" name="passwordConfirm" type="password"  (keypress)="onInputKeypress($event)"  required>
        </ion-input>
      </ion-item>

      <div  *ngIf="newUserForm.hasError('notMatch') && passwordConfirm.touched" class="error-hint">
        输入的确认密码不一致!
      </div>

      <ion-item>
         <button ion-button type="submit" (click)="create()" color="light" icon-left [disabled]="!newUserForm.valid" block><ion-icon name="add-circle"></ion-icon>注册用户</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
