<ion-header class="profile-header">
  <ion-navbar color="myapp" class="narrow-bar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>个人设定</ion-title>
    <ion-buttons end>
      <button *ngIf="utilSrv.isLoggedIn()" ion-button class="done-button" (click)="done()">确定</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content class="profile-page-content">
  <div *ngIf="!utilSrv.isLoggedIn()">你需要登录才可以操作。</div>
  <div *ngFor="let thumb of thumbs | async"></div>
  <div *ngIf="utilSrv.isLoggedIn()" class="profile-picture">
    <img [src]="profile.picture" />
    <label class="upload-mark" for="picture_upload">
      <ion-icon name="create"></ion-icon>
      <input type="file" id="picture_upload" style="display:none;" (change)="uploadPicture($event.target.files)"/>
    </label>
  </div>

  <ion-item *ngIf="utilSrv.isLoggedIn()" class="profile-name">
    <ion-label stacked>昵称</ion-label>
    <ion-input [(ngModel)]="profile.name" placeholder="修改你的昵称"></ion-input>
  </ion-item>
</ion-content>
