<ion-header class="reset-password-header">
  <ion-navbar color="myapp" class="narrow-bar">
    <ion-title>密码重置</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!navCtrl.canGoBack()" (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding class="reset-password-page-content">
  <div class="instructions">
    <div>
      密码重置
    </div>
  </div>

  <ion-list>
    <form [formGroup]="resetPasswordForm">
      <ion-item>
        <ion-label stacked>密码</ion-label>
        <ion-input formControlName="password" name="password" type="password" required>
        </ion-input>
      </ion-item>

      <div *ngIf="password.hasError('required') && password.touched" class="error-hint">密码不能为空!</div>
      <div  *ngIf="password.hasError('minlength') && password.touched" class="error-hint">
        密码长度不能低于6位!
      </div>
      <div  *ngIf="password.hasError('maxlength') && password.touched" class="error-hint">
        密码长度最长20位!
      </div>

      <ion-item>
        <ion-label stacked>密码确认</ion-label>
        <ion-input formControlName="passwordConfirm" name="passwordConfirm" type="password"  (keypress)="onInputKeypress($event)"  required>
        </ion-input>
      </ion-item>

      <div  *ngIf="resetPasswordForm.hasError('notMatch') && passwordConfirm.touched" class="error-hint">
        输入的确认密码不一致!
      </div>

      <ion-item>
         <button ion-button type="submit" (click)="reset()" color="dark" icon-left [disabled]="!resetPasswordForm.valid" block><ion-icon name="refresh-circle"></ion-icon>重置密码</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
