<ion-header>
  <ion-navbar color="myapp">
    <ion-title>重置密码</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewCtrl.dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding class="reset-password-page-content">
  <div class="instructions">
    <div>
      重置密码
    </div>
  </div>

  <ion-list>
    <form [formGroup]="resetPasswordForm">
      <ion-item>
        <ion-label floating color="primary">输入你的邮件</ion-label>
        <ion-input formControlName="username"  name="username" type="email" required></ion-input>
      </ion-item>
       
      <div *ngIf="username.hasError('required') && username.touched" class="error-hint">邮件不能为空!</div>
      <div *ngIf="username.hasError('incorrectMailFormat') && username.touched" class="error-hint">邮件格式错误!</div>

      <ion-item>
         <button ion-button type="submit" (click)="reset()" color="light" icon-left [disabled]="!resetPasswordForm.valid" block><ion-icon name="add-circle"></ion-icon>重置密码</button>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
