<ion-header>
  <ion-navbar color="myapp" class="narrow-bar">
    <ion-title>用户信息</ion-title>
  </ion-navbar>
  <div text-center class="app-bg">
    <img class="profile-picture" src="{{profile.picture}}">
    <h4>{{profile.name}}</h4>
    <div class="profile-desc">{{profile.desc}}</div>
  </div>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="category">
    <ion-segment-button value="topics">
      杂谈({{topicsPostCnt}})
    </ion-segment-button>
    <ion-segment-button value="activities">
       社群({{activitiesPostCnt}})
    </ion-segment-button>
    <ion-segment-button value="houses">
       住居({{housesPostCnt}})
    </ion-segment-button>
      <ion-segment-button value="jobs">
      工作({{jobsPostCnt}})
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="category">
    <ion-list *ngSwitchCase="'topics'">
      <ion-item text-wrap *ngFor="let post of topics | async">
        <div class="post-content">
          <a class="plain-anchor" [href]="'#/topic-detail/' + post._id">
            <p>{{post.title}}</p>
          </a>
          <p>
            <span>
              <ion-icon name="thumbs-up" style="color: #d03e84"></ion-icon>
              <span class="corner-count">{{post.thumbed}}</span>
            </span>
            <span>
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <span class="corner-count">{{post.commented}}</span>
            </span>
            <span class="post-time">
              <ion-icon name="time"></ion-icon>
              {{post.createdAt | amTimeAgo | chineseTimeAgo}}
            </span>
          </p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'activities'">
      <ion-item text-wrap *ngFor="let post of activities | async">
        <div class="post-content">
          <a class="plain-anchor" [href]="'#/activity-detail/' + post._id">
            <p>{{post.title}}</p>
          </a>
          <p>
            <span>
              <ion-icon name="person" style="color: #d03e84"></ion-icon>
              <span class="corner-count">{{post.joined}}</span>
            </span>
            <span>
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <span class="corner-count">{{post.commented}}</span>
            </span>
            <span class="post-time">
              <ion-icon name="time"></ion-icon>
              {{post.createdAt | amTimeAgo | chineseTimeAgo}}
            </span>
          </p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'houses'">
      <ion-item text-wrap *ngFor="let post of houses | async">
        <div class="post-content">
          <a class="plain-anchor" [href]="'#/house-detail/' + post._id">
            <p>{{post.title}}</p>
          </a>
          <p>
            <span>
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <span class="corner-count">{{post.commented}}</span>
            </span>
            <span class="post-time">
              <ion-icon name="time"></ion-icon>
              {{post.createdAt | amTimeAgo | chineseTimeAgo}}
            </span>
          </p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'jobs'">
      <ion-item text-wrap *ngFor="let post of jobs | async">
        <div class="post-content">
          <a class="plain-anchor" [href]="'#/job-detail/' + post._id">
            <p>{{post.title}}</p>
          </div>
          <p>
            <span>
              <ion-icon name="text" style="color: #556b2f"></ion-icon>
              <span class="corner-count">{{post.commented}}</span>
            </span>
            <span class="post-time">
              <ion-icon name="time"></ion-icon>
              {{post.createdAt | amTimeAgo | chineseTimeAgo}}
            </span>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
