<ion-header>
  <ion-navbar color="myapp" class="narrow-bar">
    <ion-title class="bar-title">{{title}}</ion-title>
 
    <ion-buttons end>
      <button ion-button icon-only class="settings-button" (click)="showOptions()" *ngIf="showOptionsOrNot()"><ion-icon name="more"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let comment of comments | async" class="message-wrapper rlt"
       (hold)="onMessageHold($event, $index, comment)">
    <div *ngIf="comment.ownership === 'other'">
      <img class="profile-picture left" [src]="comment.profile.picture" />
      <div class="chat-bubble left">
        <div class="message">
          {{ comment.content }}
        </div>
        <div class="message-detail">
          <span class="message-time">{{comment.createdAt | amCalendar | chineseCalendar}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="comment.ownership === 'mine'">
      <img class="profile-picture right" [src]="comment.profile.picture"  />
      <div class="chat-bubble right">
        <div class="message" ng-bind-html="comment.content">
          {{ comment.content }}
        </div>
        <div class="message-detail">
          <span class="message-time">{{comment.createdAt | amCalendar | chineseCalendar}}</span>
        </div>
      </div>
    </div>
    <div class="cf"></div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-bar" color="white">
    <textarea [(ngModel)]="comment" cols="60" placeholder="输入评论内容" class="comment-editor"></textarea>
    <ion-buttons end>
      <button ion-button (click)="sendComment()" class="comment-editor-button" [disabled]="!comment || comment.trim().length == 0">
        <ion-icon name="send" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
