@import "{}/client/styles/_variables";

page-setting {
  .app-bg {
    color: map_get($colors, light);
    background: map_get($colors, myapp);
    border: none;
    .profile-picture {
      width: 120px;
      height: 120px;
    }
  }

  ion-row {
    border-top: 1px solid $borderColor;

    .number {
      display: block;
    }
  }
}
